<!DOCTYPE html>
<html>
<head>
  <title>My Account</title>
</head>
<body>
  <%- include("../partials/navbar") %>

  <h1>My Account</h1>

  <p><strong>Name:</strong> <%= session.user.name %></p>
  <p><strong>Email:</strong> <%= session.user.email %></p>

  <a href="/logout">Logout</a>
</body>
</html>
