<%- include('../partials/header') %>
<%- include("../partials/navbar") %>



<div style="max-width:400px;margin:auto;padding:20px;">
    <h2>Login</h2>

    <form action="/login" method="POST">
        <label>Email</label>
        <input type="email" name="email" required style="width:100%;padding:8px">

        <label>Password</label>
        <input type="password" name="password" required style="width:100%;padding:8px">

        <button style="margin-top:10px;width:100%;padding:10px;background:black;color:white;">
            Login
        </button>
    </form>

    <p style="margin-top:10px;">
        Or
        <a href="/auth/google" style="color:#4285F4;font-weight:bold;">
            continue with Google
        </a>
    </p>

    <p>Don't have an account? <a href="/signup">Signup</a></p>
</div>

<%- include('../partials/footer') %>
