<%- include('../partials/header') %>
<%- include("partials/navbar") %>


<div style="max-width:400px;margin:auto;padding:20px;">
    <h2>Signup</h2>

    <form action="/signup" method="POST">
        <label>Name</label>
        <input type="text" name="name" required style="width:100%;padding:8px">

        <label>Email</label>
        <input type="email" name="email" required style="width:100%;padding:8px">

        <label>Password</label>
        <input type="password" name="password" required style="width:100%;padding:8px">

        <button style="margin-top:10px;width:100%;padding:10px;background:black;color:white;">
            Create Account
        </button>
    </form>

    <p style="margin-top:10px;">
        Or
        <a href="/auth/google" style="color:#4285F4;font-weight:bold;">
            continue with Google
        </a>
    </p>

    <p>Already have an account? <a href="/login">Login</a></p>
</div>

<%- include('../partials/footer') %>
