<%- include('../partials/header') %>

<h2>Add Category</h2>

<form action="/admin/add-category" method="POST" style="width:300px;margin:auto">
    <input type="text" name="name" placeholder="Category Name" required>
    <button type="submit">Add</button>
</form>

<%- include('../partials/footer') %>
