<%- include('../partials/header') %>

<h2>Add Product</h2>

<form action="/admin/add-product" method="POST" style="width:400px;margin:auto">

    <label>Product Name</label>
    <input type="text" name="name" required>

    <label>Price</label>
    <input type="number" name="price" required>

    <label>Category</label>
    <select name="category_id" required>
        <% categories.forEach(c => { %>
            <option value="<%= c.id %>"><%= c.name %></option>
        <% }) %>
    </select>

    <label>Image URL</label>
    <input type="text" name="image" required>

    <label>Description</label>
    <textarea name="description"></textarea>

    <button type="submit">Add Product</button>
</form>

<%- include('../partials/footer') %>
