<%- include('../partials/header') %>

<h2 style="text-align:center;margin:30px 0;">Checkout</h2>

<form action="/checkout" method="POST" style="width:400px;margin:auto;">

    <label>Name</label>
    <input type="text" name="name" required style="width:100%;padding:10px;margin-bottom:10px;">

    <label>Phone</label>
    <input type="text" name="phone" required style="width:100%;padding:10px;margin-bottom:10px;">

    <label>Address</label>
    <textarea name="address" required style="width:100%;padding:10px;margin-bottom:10px;"></textarea>

    <h3>Total: Rs <%= total %></h3>

    <button style="background:green;color:white;padding:12px;width:100%;margin-top:10px;">
        Place Order
    </button>
</form>

<%- include('../partials/footer') %>
